body{background-color:none;
       background-image:('images.jpeg');
       background-size:cover;
       background-position:center;
      }
section{width:100%;
        height:70vh; 

        }


 section nav{width:100%;
           display:flex;   
          
           justify-content:space-around;
           box-shadow:0 0 10px ;color:green;
         background:white;
         position:fixed;
         left:0;
         z-index:100;
       }
 section  nav .logo img{width:100px;
            height:100px;
           }
section nav li{padding:10px;
           display:inline-block;
          }
 section nav li a{color:black;
}
section nav li a:visited{color:red;
                     }
section nav li a:hover{color:green;
                   }
section nav li a:active{color:hot pink;
                   }

section nav .search_form{width:300px;
                         height:5vh;
                        display:flex;
                        align-items:center;
                        border-radius:45px;
                         }
section nav .search_form input{font-size:15px;
                                 padding:0 20px;
                                height:70%; 
                                width:70%;
                               text-transform:none;
                               color:black;
                             }
section nav .search_form label{font-size:32px;
                                padding-right:25px;
                                color:black;
                                 }
section nav .search_form label:hover{color:red;
                                     }

section nav .icons div,
section nav .icons a{font-size:32px;
                      margin-left:24px;
                       color:black;
                     }

section nav .icons div:hover,
section nav .icons a:hover{color:purple;
                          }
#search_btn{display:none;
}

.marquee{font-size:60px;
         font-family:sans-serif;
         }
.marquee span{color:green;
             }


@media(max width:800px){
  section nav li{display:block;
              }
  section nav{position:absolute;
           display:flex;   
          width:100%;
           justify-content:space-around;
           box-shadow:0 0 10px ;color:green;
         background:white;
         left:0;
         z-index:100;
             }
 section nav li a{color:black;
}
section nav li a:visited{color:red;
                     }
section nav li a:hover{color:green;
                   }
section nav li a:active{color:hot pink;
                   }
}







/*main*/

 .main{
         width:100%;
           padding:20px;
            display:flex;
              align-items:center;
              margin-left:2;
              justify-content:space-around;
              
             
             }
.main h1{font-size:40px;
           color:black;
           position:relative;
             
           }
.main h1 span{color:green;
            }
.main p{width:550px;
                 color:Black;
                  line-height:40px;
                 text-align:justify;
           
                }
 
 .main .f_btn{padding:7px 30px; 
                        background:blue;
                      border:none;
                       margin-top:15px;
                       margin-bottom:25px;
                     border-radius:25px;
                    color:white;
                     cursor:pointer;
                     position:relative;
                     bottom:20%                              
                    }

/*about*/
.about{width:100%;
      padding:20px;
      display:flex;
      align-items:center;
      justify-content:space-around;
     }
.about img{width:700px;
          }
.about h1{font-size:40px;
           position:relative;
          bottom:30px;
         }
.about p{line-height:22px;
        width:550px;
         text-align:justify; 
         margin-bottom:15px;
       }
.about .f_btn{padding:7px 30px; 
                        background:grey;
                      border:none;
                       margin-top:15px;
                     border-radius:25px;
                    color:white;
                     cursor:pointer;                                      
                    }

/*Books*/ 
.books{height:100vh;
        width:100%;
        padding:70px ; 
       }
.books h1{display:flex;
          align-items:center;
          justify-content:center;
          font-size:40px;          
          margin-bottom:20px;
         }
.books .books_box{width:95%;
                  height:60vh;
                  margin:auto;
                  display:grid;
                  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr    1fr;
                  overflow:hidden;
                  overflow-x:scroll;
                 }
.books .books_card{width:270px;
                              height:390px;
                              text-align:center;
                              padding:5px;
                              border:1px solid;color:black;
                              margin:auto 20px;
                             }
.books .books_card:hover{ box-shadow:0 0 10px;color:green;
                          }
.books .books_img img{width:100px; 
                     }
.books .books_tag h2{font-weight:bold;
                      } 
.books .books_tag .writer{font-style:italic;
                           color:blue;
                         }
.books .books_tag .genre{font-style:normal;
                          color:grey;
                         }
.books .books_tag .price{font-weight:bold;
                        }
.books .books_tag .price sub{font-style:italic;
                              padding:5px;
                             }
.books .books_tag .f_btn{padding:7px 30px; 
                        background:red;
                      border:none;
                       margin-top:15px;
                     border-radius:25px;
                    color:white;
                     cursor:hand;
                         }
@media(max-width:800px){
 .books .books_box{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr    1fr;
                   }

}

/*Authors*/ 

.authors{height:100vh;
        width:100%;
        padding:70px ; 
       }
.authors h1{display:flex;
          align-items:center;
          justify-content:center;
          font-size:30px;          
          margin-bottom:20px;
         }
.authors .authors_box{width:95%;
                  height:100vh;
                  margin:auto;
                  display:grid;
                  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                  overflow:hidden;
                  overflow-x:scroll;
                 }
 .authors .authors_card{width:570px;
                              height:670px;
                              text-align:center;
                              padding:5px;
                              border:1px solid;color:black;
                              margin:auto 30px;
                             }
.authors .authors_card:hover{ box-shadow:0 0 10px;color:red;
                          }

.authors .authors_img img{width:150px; 
                        }

.authors .authors_tag h2{font-weight:bold;
                       }
 
.authors .authors_tag p{font-style:italic;
                         color:black;
                       }
                         
.authors .authors_tag .genre{font-style:normal;
                          color:blue; 
                          padding:15px;
                         }

.authors .authors_tag .f_btn{padding:7px 30px; 
                        background:purple;
                      border:none;
                       margin-top:15px;
                     border-radius:25px;
                    color:white;
                     cursor:hand;
                         
                          }

@media(max-width:800px){
 .books .books_box{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                   }
}

/*Quotes*/ 

.quotes{height:100vh;
        width:100%;
        padding:70px ; 
       }
.quotes h1{display:flex;
          align-items:center;
          justify-content:center;
          font-size:40px;          
          margin-bottom:20px;
         }
.quotes .quotes_box{width:95%;
                  height:90vh;
                  margin:auto;
                  display:grid;
                  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                  overflow:hidden;
                  overflow-x:scroll;
                 }
.quotes .quotes_card{width:570px;
                              height:450px;
                              text-align:center;
                              padding:5px;
                              border:1px solid;color:black;
                              margin:auto 30px;
                             }

 .quotes .quotes_card:hover{ box-shadow:0 0 10px;color:#00FFFF;
                       }


 .quotes .quotes_tag h2{font-weight:bold;
                          color:black;
                       }
 

 .quotes .quotes_tag p{font-weight:50px;
                       color:black;
                       }

 .quotes .quotes_tag pre{font-style:italic;
                          color:black;
                       }

@media(max-width:800px){
 .books .books_box{  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;   
                   }
}


/*Contact*/
#contact h1{text-align:left;
            font-size:60px;
           }

#contact h2{font-family:sans-serif;
            font-size:40px;
           
          }

#contact p{text-align:center;
          font-weight:bold;
           font-size:45px;
           }
#contact pre{font-size:20px;
           }

#contact .f_btn{padding:7px 10px; 
                        background:blue;
                      border:none;
                       margin-top:0px;
                     border-radius:15px;
                    color:white;
                                                         
                    }


/*Footer*/
footer{
     width:300%;
       background:white;
   
      }
footer .footer_main{width:100%;
                    display:flex;
                    justify-content:space-around;
                   } 

footer .footer_main .tag{margin:10px 0;
                        }

 footer .footer_main .tag img{width:100px;
                              margin-bottom:10px;
                                }

footer .footer_main .tag p{width:250px;
                           line-height:22px;
                           text-align:justify;
                            }

footer .footer_main .tag h1{font-size:25px;
                              margin:25px 0;
                             color:black;
                               }
 footer .footer_main .tag a{display:block;
                             color:black;
                              text-decoration:none;
                             margin:10px 0;
                          }

footer .footer_main .tag i{margin-right:10px;
                        }
footer .footer_main .tag .social_link i{margin:0 5px;
                                      }

footer .end{align-items:center;
          justify-content:center;
          
                padding:20px;
                 color:black;
             }

 footer .end span{color:green;
               margin-left:10px;
           }















